# Publish Dev
name: Publish Dev

on:
  push:
    branches:
      - main
      - dev

jobs:
  build-linux:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Get version name
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: chillibits
          password: ${{ secrets.DOCKER_HUB_SECRET }}

      - name: Build Docker image and push to Docker hub
        run: docker buildx build --push -t chillibits/compiler-explorer:dev .
